@charset "UTF-8";
#page-wrapper {
  margin: auto;
  width: 980px;
  border: 1px solid red;
}

#left-menu  {
  width: 198px;
  height: 600px;
  border: 1px solid red;
}

#center {
  width: 580px;
  height: 600px;
  position: relative;
  left: 202px;
  border: 1px solid red;
}

#right-menu {
  width: 198px;
  height: 600 px;
  position: relative;
  left: 780;
  border: 1px solid red;
}
