@charset "UTF-8";
#page-wrapper {
  margin: auto;
  width: 980px;
}

#left-menu  {
  width: 25%;
  height: 600px;
  float: left;
}

#center {
  width: 50%;
  height: 600px;
  float: left;
}

#right-menu {
  width: 25%;
  height: 600px;
  float: right;
}
div {
  outline: 1px solid red;
}
